<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.nex.nz/thymeleaf/layout"
      layout:decorator="layout/layout_shop">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link rel="stylesheet" href="/css/shop/shop.goods.css">
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div class="col-12">

                <!-- Goods Title -->
                <div class="row" style="margin-top: 30px;">
                    <h1 class="display-4 d-inline-block">관리모드</h1>
                </div>
                <hr class="my-4">

            </div>
        </div>
    </section>
</body>
</html>